
.formu-pagos input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px; 
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.modal-body p{

    color: #555;
    font-size: 15px;
    text-align: left  ;
    padding-top: 10px ;
}
.modal-body h2{

    color: #ff385c;
    font-size: 20px;
   font-weight: bold;
   margin: 0; 
   padding: 0;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px; 


}


.modal-footer button{
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.modal-footer button:hover{
    background-color: #ff385c;
   
}