.user-options,
.cerrar-sesion,
.ver-reservas {
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 20px;
    background: none;
    border: none;
}


.ver-reservas,
.cerrar-sesion {
    min-width: 150px;
    text-align: center;
}

.user-options:hover {
    background-color: #eaeaeab7;
}

.cerrar-sesion:hover {
    background-color: #ff385d;
    color: white;
}

.titulo-bienvenida {
    font-size: 15px;
    color: #000000;
    margin: 0;
    padding: 6px 0;
}

.bienvenida {
    display: flex;
    align-items: center; 
    gap: 20px;
    justify-content: space-between;
}



.ver-reservas:hover {
    background-color:#eaeaeab7;
}

.boton-enviar {
    width: 100%;
    padding: 10px;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.formu input {
    width: 100%;
    padding: 10px;
    border: 1px solid #232323;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.boton-registro {
    background: none;
    border: none;
    color: #ff385c;
    font-size: 16px;
    padding-top: 15px;
}
