.user-options,
.cerrar-sesion {
    font-size: 15px;
    margin-right: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    background: none;
    border: none;
}

.user-options:hover {
    background-color: #eaeaeab7;
}

.cerrar-sesion:hover {
    background-color: #ff385d;
    color: white;
}

.titulo-bienvenida {
    font-size: 15px;
    color: #000000;
    padding-top: 6px;
}

.bienvenida {
    display: flex;
    align-items: center; /* Alinear el texto y botones en línea */
    gap: 15px;
}

/* Estilos del botón Ver Mis Reservas */
.ver-reservas {
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ver-reservas:hover {
    background-color: #0056b3;
}

.ver-reservas:active {
    background-color: #003f7f;
}

.boton-enviar {
    width: 100%;
    padding: 10px;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.formu input {
    width: 100%;
    padding: 10px;
    border: 1px solid #232323;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.boton-registro {
    background: none;
    border: none;
    color: #ff385c;
    font-size: 16px;
    padding-top: 15px;
}
